.Get-unicorn{
    width: 10%; 
    height: 10%;
}

.unicorn{
    color: crimson;
}

.delete-unicorn{
    width: 5%; 
    height: 5%;
}

.headline{
    color: blueviolet
}


body{
    background-image: url("back-gif.gif");
    background-repeat: no-repeat;
    background-size: cover;
}